body {
  margin: 0;
  background-color: black;
  color: white;
  font-family: sans-serif;
  text-align: center;
}

video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

#start-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #111;
}

button {
  padding: 1rem 2rem;
  font-size: 1.2rem;
  margin-top: 1rem;
  cursor: pointer;
}